/* FONTS:

PT Sans Regular
PT Sans Narrow Bold
PT Serif Regular
PT Serif Bold

Colors:
Black #323232
Light Grey #eee
Teal #00897f
Orange #f26522

h1 {
  PT Sans Narrow Bold 1.875em font size #323232
}

h2 {
  PT Sans Narrow Bold 1.5em font size #00897f
uppercase
}

h3 {
  PT Serif Regular 1em font size 2em line height #323232
}

p {
  PT Serif Regular .875em font size 1.75em line height #323232
}

a {
  PT Serif Bold 1em font size #f26522
}

nav h1 {
  PT Sans Narrow Bold 1.5em font size #323232
}

nav p {
  PT Sans Regular .9em font size #323232
}

footer h1 {
  PT Sans Narrow Bold 1.25em font size #323232
}
 */

.clear {
clear:both;
}

body {
  margin: 0;
  background-color: #eee;
}



h1 {
  display: inline-block;
  font-family: PT Sans Narrow;
  font-weight: bold;
  font-size: 1.875em;
  color:#323232;
  width: 100%;

}

h2 {
  font-family: PT Sans Narrow;
  font-weight: bold;
  font-size: 1.5em;
  color:#00897f;
uppercase
}

h3 {
  font-family: PT Serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}

p {
  font-family: PT Serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
}

a {
  font-family: PT Serif;
  font-style: Bold;
  font-size: 1em;
  color: #f26522;
}

#page {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}




.splash {
  width: 100%;
  height:500px;
  background-image: url(file:///Users/imogine/cat_costume_project/assets/images/kats-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%
}
nav {
  height: 80px;
  width: 100%;
}

nav h1 {
  float: left;
  font-family: PT Sans Narrow;
  font-style: Bold;
  font-size: 1.875em;
  color:#323232;
  margin: .75em;
  width: 50%;

}

nav p{
 float: right;
 margin: 5px 6px;
 font-family: PT Sans;
 font-size: .9em;
 color: #323232;
 margin: 2.2em;
}

.main {
  width: 64%;
  margin: 0 auto;
}
.main h1,h2{
  text-align: center;
}

.main h3{
  text-align: justify;
}

.main h2{
  text-align:
}

footer h1 {
  font-family: PT Sans Narrow;
  font-style: Bold;
  font-size: 1.25em;
  color: #323232;
}

#intro {
  padding-bottom: 80px;
  width: 90%;
  margin: 0 auto;
}

#about-container{
  width: 100%;
  margin: 0 auto;
}
.about {
  display: inline-block;
  padding: 30px;
  background-color: #eee;
  width: 355px;
  margin: 0 auto;
}

.mavis {
  max-width: 230px;
  width: 36%;
  margin-left: 30px;
  float: right
}

.kat {
  max-width: 230px;
  width: 36%;
  float: left;
  margin-right: 30px;
}
.images-container {
  width: 100%;
}
.images {
text-align: center;
margin: 0 auto;
 width: 89%;
  padding: 80px 0px 80px 0px;
}
.images img{
  border-radius: 50%;
  width: 250px;
}

.middle-kat {
margin: 0 55px;
}

.contact ul{
  list-style: none;
}
#info {
  width: 100%;
  background-color: #eee;
  text-align: center;
}

.info, .hours{
  background-color: #FFF;
  padding: 30px;
  margin: 0 30px 80px;
  width: 29%;
  height: 220px;
  display: inline-block
}

.info, .hours h3 {
  text-align: left;

}

.hours {
}

.info {
}
#info h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 45px;
}

footer {
  width: 100%;
  height: 300px;
background-image: url(file:///Users/imogine/cat_costume_project/assets/images/kats-map.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%
}

.credits {
  width: 100%;
  height: 125px;
  color: #FFF;
  background-color: #00897f;
  text-align: center;
}

.credits h1{
  color: #FFF;
  margin: 0;
line-height: 125px;
}


/* On devices wider than 660px */
@media(max-width: 800px) {

h1 {
  font-size: 1.5em;
}

h3 {
  font-size: .9em;
  margin: 0;
}

nav h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  line-height: 3em;
}

nav p {
  display: none;
}

.splash {
  height: 250px;
}

.main {
  width: 100%;
}

.about {
  width: 100%;
  padding: 0;
}

.about p{
  margin: 30px;
}

.kat {
  max-width: 9999px;
  width: inherit;
  float: none;
  margin-right: 0;
}

.mavis {

  max-width: 9999px;
  width: inherit;
  float: none;
  margin-left: 0;
}

.images{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.first-kat {
display: none;
}

.middle-kat {
display: none;
}

.last-kat {
  padding: 30px;
}

#info {
  height: 350px;
padding: 20px 0px;
}
#info h1{
  display: none;
}

.info, .hours {
background-color: #eee;
padding: 0px;
margin: 0px;
width: 100%;
height: inherit;
display: inline;
}

.info, .hours h3 {
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

.contact ul {
  margin: 0px;
}

footer {
  height: 150px;
}

}

/* On devices wider than 940px */
@media (min-width: 801px) and (max-width: 1200px) {
  .splash {
    height: 400px;
  }

  .main {
    width: 90%;
  }

.images {
  padding: 20px 0px 20px 0px;

}
  .images img {
    border-radius: 50%;
    width: 198px;
}

#info h1 {
  margin: 20px 0;
}

.info, .hours {
  width: 34%;

}
footer {
  height: 250px;
}

#about-container {
    width: 650px;
    margin: 0 auto;
}
}
